<!-- Responsive with breakpoint (extreme small) [fxLayout.xs] -->
<md-card>
  <div class="container" fxLayout="row" fxLayout.xs="column" >
    <div *ngFor="let cell of data" fxFlex>
      {{cell}}
    </div>
  </div>
</md-card>

<!-- Wrap the items to response according to size [fxLayoutWrap] -->
<md-card>
  <div class="container" fxLayout="row" fxLayoutWrap>
    <div *ngFor="let cell of data" fxFlex>
      {{cell}}
    </div>
  </div>
</md-card>  

<!-- Take space between elements [fxLayoutGap] -->
<md-card>
  <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px">
    <div *ngFor="let cell of data" fxFlex>
      {{cell}}
    </div>
  </div>
</md-card>

<!--  justify container => fxLayoutAlign -->
<md-card>
  <div class="container" fxLayoutAlign="space-between" fxLayoutWrap>
    <div *ngFor="let cell of [1,2,3,4]" >
      {{cell}}
    </div>
  </div>
</md-card>

<!-- Combine fxLayoutGap and fxLayoutWrap -->
<md-card>
  <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutWrap>
    <div *ngFor="let cell of data" fxFlex>
      {{cell}}
    </div>
  </div>
</md-card>

<!-- Take space between elements with few elements [fxLayoutGap] -->
<md-card>
  <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px">
    <div fxFlex="30">1</div>
    <div fxFlex>2</div>
  </div>
</md-card>

<!-- Wrap the items to response according to size [fxLayoutWrap - fxLayoutGap] -->
<md-card>
  <div class="container" fxLayout="row" fxLayoutGap="10px" fxLayoutWrap>
    <div fxFlex="30">1</div>
    <div fxFlex>2</div>
  </div>
</md-card>